body {
  font-family: "Roboto Condensed", sans-serif;
  background: #181818;
}

.header-section {
  margin: auto;
  padding: 70px 0 40px 70px;
  width: 950px;
}

.list-section {
  margin: auto;
  padding: 50px 70px 80px 70px;
  width: 950px;
  background: #232323;
  border-radius: 20px;
}

.header-section__logo {
  width: 292px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-text,
.logo-year {
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 350;
  background: #dc5019;
  color: #f3f6f9;
  border-radius: 30px;
}

.header-section__title {
  font-size: 120px;
  color: #f3f6f9;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.list-section__input {
  background: #232323;
  width: 415px;
  outline: none;
  border: none;
  color: #f3f6f9;
  cursor: pointer;
  font-size: 30px;
  box-shadow: 0 1px #676a6c;
}

.list-section__add-movie-button {
  width: 62px;
  height: 62px;
  background: #dc5019;
  background-image: url("resources/addArrow.png");
  background-repeat: no-repeat;
  background-position: left 10px top 15px;
  background-size: 40px;
  border: none;
  border-radius: 30px;
}

.list-section__add-movie-button:hover {
  opacity: 0.6;
}
