body {
  font-family: "Roboto Condensed", sans-serif;
  background: #181818;
}

.header-section {
  margin: auto;
  padding: 70px 0 40px 70px;
  width: 950px;
}

.list-section {
  margin: auto;
  padding: 80px 70px 80px 70px;
  width: 950px;
  background: #232323;
  border-radius: 20px;
}

.header-section__logo {
  width: 292px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-text,
.logo-year {
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 350;
  background: #ab4d27;
  color: #f3f6f9;
  border-radius: 30px;
}

.header-section__title {
  font-size: 120px;
  color: #f3f6f9;
}

.input-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.list-section__input {
  background: #232323;
  width: 415px;
  outline: none;
  border: none;
  color: #f3f6f9;
  cursor: pointer;
  font-size: 30px;
  box-shadow: 0 1px #676a6c;
}

.list-section__add-movie-button {
  width: 62px;
  height: 62px;
  background: #ab4d27;
  background-image: url("../resources/addArrow.png");
  background-repeat: no-repeat;
  background-position: left 10px top 15px;
  background-size: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.list-section__add-movie-button:hover {
  opacity: 0.6;
}

.movie-item {
  position: relative;
  margin-bottom: 3px;
  padding: 0 30px 0 30px;
  font-size: 20px;
  line-height: 70px;
  color: #f3f6f9;
  background: #3a3939;
  border-radius: 10px;
}

.tag-movie {
  margin-right: 20px;
  width: 19px;
  height: 19px;
  border-radius: 50px;
  border: 1px solid #7e7e7e;
  cursor: pointer;
  background: #3a3939;
}

.enable {
  background: #ab4d27;
}

.movie-text {
  line-height: 20px;
  display: inline-block;
}

.crossed-out-on {
  text-decoration: line-through;
}

.lable-on {
  opacity: 0.4;
}

.reset-movie {
  position: absolute;
  top: 23px;
  right: 15px;
  width: 23px;
  height: 23px;
  border: none;
  background: #3a3939;
  background-image: url("../resources/resetButton.png");
  cursor: pointer;
}

.reset-movie:hover {
  opacity: 0.5;
}
